# Core dependencies
python-dotenv
protobuf==3.20.3

# PDF processing
unstructured[pdf]

# LangChain ecosystem
langchain
langchain-core
langchain-community
langchain-google-genai
langchain-chroma
langchain-huggingface

# HuggingFace
huggingface-hub
sentence-transformers
torch

# VectorDB
chromadb

# Application
fastapi
python-multipart
uvicorn[standard]
beautifulsoup4